# Reference
# - How Core Git Developers Configure Git
#   https://blog.gitbutler.com/how-git-core-devs-configure-git/

[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = LESSCHARSET=utf-8 less -FRX
[user]
	email = nojima@ynojima.com
	name = Yusuke Nojima
	signingKey = nojima@ynojima.com
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
	gpgSign = true
[commit]
	verbose = true
	gpgSign = true
[merge]
	ff = false
	conflictstyle = zdiff3
[rebase]
	autoSquash = true
	autoStash = true
	#updateRefs = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rerere]
	enabled = true
	autoupdate = true
[column]
	ui = auto
[help]
	autocorrect = prompt
[alias]
	force-push = "push --force-with-lease --force-if-includes"
[include]
	path = ~/.gitconfig.private
